@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Chivo+Mono:wght@400;700&family=Josefin+Sans:wght@400;700&family=Tinos:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

#table-container {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 85%;
    margin-right: 50px;
    margin-left: 50px;
    text-align: center;
}
table {
    background-color: rgba(161, 212, 250, 0.8);
    margin-top: 40px;
    border-collapse: collapse;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    border-radius: 5px 5px 5px 5px;
    overflow: hidden;
    box-shadow: 0 0 50px rgba(1, 22, 171, 0.5);
}
tr, td {
    padding: 10px;
    border-bottom: 2px solid #bcfcec;
}
.border-header {
    font-family: 'Ubuntu', sans-serif;
    padding: 20px;
    border-right: 2px outset rgba(131, 169, 252, 0.6);
}
th {
    background-color: rgb(63, 139, 250);
    font-size: 1.2em;
}

tr:nth-child(even){
    background-color: rgba(118, 183, 255, 0.7);
}

tr:hover {
    color: white;
    background-color: rgb(3, 68, 183);
}
#table-row-header:hover{
    color: black;
}

